.contact-img {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
}

.aside-img-wrapper {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

#resume {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

#gmail-wrapper {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

#gmail {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
}

.contact-hide {
  display: none;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}

#gmail-wrapper:hover .contact-hide {
  display: block;
  margin-left: 5px;
  font-size: 7px;
}

@media (hover: hover) and (pointer: fine){
  #linkedin:hover {
    display: block;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
    transform: scale(2);
  }
  #gmail-wrapper:hover {
    display: flex;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 35px;
    transform: scale(2);
  }
  #github:hover {
    display: block;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    transform: scale(2);
  }
  #resume:hover {
    display: block;
    margin: 30px 0 35px 15px;
    transform: scale(2);
  }
  #medium:hover {
    display: block;
    margin-left: 35px;
    margin-top: 30px;
    transform: scale(2);
  }
}

.aside {
  width: 10vw;
  height: 94vh;
}

.getintouch {
  margin: 0 0 20px 5px;
  font-size: 19px;
  padding-top: 15px;
}

@media screen and (max-width: 992px) {	
  .aside {
    width: 100vw;
    height: 15vh;
  }
  .aside-img-wrapper {
    padding-top: 15px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
  }
  .getintouch {
    font-size: 25px;
    margin: 0 0 0 0;
    padding-top: 0;
    padding-bottom: 5px;
    text-align: center;
    width: 100vw;
  }
  .contact-img {
    display: block;
  }
  #gmail-wrapper {
    padding-left: 10px;
  }
  #github {
    padding-left: 10px;
  }
}
@media screen and  (max-width: 768px) {
  .aside {
    width: 100vw;
    height: 15vh;
  }
  .aside-img-wrapper {
    padding-top: 15px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
  }
  .getintouch {
    margin: 0 0 0 0;
    padding-top: 0;
    padding-bottom: 5px;
    text-align: center;
    width: 100vw;
  }
  .contact-img {
    display: block;
  }
  #gmail-wrapper {
    padding-left: 10px;
  }
  #github {
    padding-left: 10px;
  }
}