.navbar {
  display: block;
  height: 6vh;
  background: rgba(169, 169, 169, 0.30);
}

.nav-link {
  font-size: 25px;
  float: right;
  padding-right: 75px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo-img {
  padding-left: 75px;
  width: 100px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}