.navbar {
  display: block;
  height: 6vh;
  background: rgba(169, 169, 169, 0.30);
}

.nav-link {
  font-size: 30px;
  float: right;
  padding-right: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo-img {
  padding-left: 50px;
  width: 100px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 992px) {	
  .nav-link {
    font-size: 30px;
    padding-right: 10px;
  }
  .logo-img {
    width: 125px;
    padding-left: 10px;
  }
}
@media screen and  (max-width: 768px) {
  .nav-link {
    font-size: 20px;
    padding-right: 5px;
  }
  .logo-img {
    width: 75px;
    padding-left: 5px;
  }
}