body {
  margin: 0;
  font-family: 'ClassicComputer', Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "ClassicComputer";
  src: url('./assets/fonts/retro_computer_personal_use.ttf') format('truetype'),
       url('./assets//fonts/retro_computer_personal_use.woff') format('woff');
}